div{
    width:200px;
    height: 200px;
}


body{
    background-image: url(fondo1.svg), url(fondo2.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size:auto,auto;
    width: 1440px;
    height: 800px;
}

.maintext{
    width:700px;
    height:150px;
    margin-top: 120px;
    margin-left: 160px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    font-stretch:expanded;
    color:#502050;
}

.secondtext{
    width:600px;
    height:200px;
    margin-left: 160px;
    margin-top: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color:#937b92;
}

.ratings{
    width:440px;
    height: 60px;
    background-color: #f7f2f7;
    border-radius: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color:#502050;
    margin-left: 760px;
    margin-top: -520px;
    z-index: 8;
}

.ratings2{
    width:440px;
    height: 60px;
    background-color: #f7f2f7;
    border-radius: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color:#502050;
    margin-left: 800px;
    margin-top: 20px;
    z-index: 9;
}

.ratings3{
    width:440px;
    height: 60px;
    background-color: #f7f2f7;
    border-radius: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color:#502050;
    margin-left: 840px;
    margin-top: 20px;
    z-index: 10;
}

.ratetext{
    margin-top: -50px;
    width:360px;
    height:240px;
    background-color: #502050;
    border-radius: 10px;
    z-index: 1;
}

.contact{
    width:360px;
    height:240px;
    margin-left: 50px;
    margin-top: -150px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color:#ffffff;
    font-stretch: extra-expanded;
    line-height: 25px;
}

.contacttextcolton{
    margin-left: 290px;
    margin-top: -45px;
    z-index: 5;
}

.contacttextirene{
    margin-left: 690px;
    margin-top: -40px;
    z-index: 6;
}

.contacttextanne{
    margin-left: 1100px;
    margin-top: -40px;
    z-index: 7;
}

h1{
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color:#ffffff;
    font-stretch: extra-expanded;
    line-height: 25px; 
    margin-top: -20px;
}

h2{
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color:#ee68a4;
    font-stretch: extra-expanded;
    line-height: 25px;
    margin-top: -35px;
}

.anne{
    margin-left: 980px;
    margin-top: -170px;
}

.irene{
    margin-left: 570px;
    margin-top: -170px;
}

.colton{
    margin-top: 100px;
    margin-left: 160px;
}

.image-croppercolton{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; /*curvear las esquinas hasta que se haga circulo*/
    margin-top: -280px;
    margin-left: 220px;
    z-index: 2;
}

.image-cropperirene{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; /*curvear las esquinas hasta que se haga circulo*/
    margin-top: -200px;
    margin-left: 620px;
    z-index: 3;
}

.image-cropperanne{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; /*curvear las esquinas hasta que se haga circulo*/
    margin-top: -180px;
    margin-left: 1030px;
    z-index: 4;
}
  
img {
    display: inline;
    /*margin: 0 auto;*/
    height: 100%;
    width: auto;
}

.stars1{
    margin-left: 800px;
    margin-top: -200px;
    height: 20px;
    width: 100px;
    display: flex;
    z-index: 11;
}

.stars2{
    margin-left: 840px;
    margin-top: 60px;
    height: 20px;
    width: 100px;
    display: flex;
    z-index: 12;
}

.stars3{
    margin-left: 880px;
    margin-top: 60px;
    height: 20px;
    width: 100px;
    display: flex;
    z-index: 13;
}

